<!DOCTYPE html> <!-- tells the browser the document type is HTML -->
<html lang="en"> <!-- signifies language (English) and opening HTML tag -->
<head> <!-- opening head tag -->
    <meta charset="UTF-8"> <!-- character set -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- sets compatibility for microsoft browsers -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- sets the viewport width to device width -->
    <title>Document</title> <!-- sets document title that shows on browser tab -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- links to fontawesome as a stylesheet for access to icon library -->
    <link rel="stylesheet" href="css/style.css"> <!-- links to stylesheet styles.css in css folder -->
</head> <!-- closes head tag -->
<body> <!-- main section for displayed content -->
    <!DOCTYPE html> <!-- maybe a typo / repeat code -->
<html lang="en"> <!-- maybe a typo -->
<head> <!-- maybe a typo -->
    <meta charset="UTF-8"> <!-- maybe a typo -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- maybe a typo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- maybe a typo -->
    <title>Document</title> <!-- maybe a typo -->
</head> <!-- maybe a typo -->
<body> <!-- main section for displayed content -->
    <h1>Todo List: </h1> <!-- main heading on page -->
    <ul class="todoItems"> <!-- unordered list with class of to-do items -->
    <% for(let i=0; i < items.length; i++) {%> <!-- EJS - starts a for loop-->
        <li class="item"> <!-- list item with a class of item-->
            <% if(items[i].completed === true) {%> <!-- EJS conditional to check if an element of an array has the class completed -->
                <span class='completed'><%= items[i].thing %></span> <!-- create inline element with the 'completed' class that holds EJS to show name of task -->
            <% }else{ %> <!-- else part of conditional to move on to next case if the element does not have the class of completed-->
                <span><%= items[i].thing %></span> <!-- EJS to display the task name that doesn't have a class in a span-->
            <% } %>    <!-- closes the else statement (EJS) -->
            <span class='fa fa-trash'></span> <!-- trash can icon in a span -->
        </li> <!-- closes list item -->
    <% } %> <!-- EJS - closes for loop-->
    </ul> <!-- ends unordered list -->

    <h2>Left to do: <%= left %></h2> <!-- second level heading to display on page with EJS to show variable for how many tasks are left in list -->

    <h2>Add A Todo:</h2> <!-- second level heading to direct user to add a list item to the to-do list -->

    <form action="/addTodo" method="POST"> <!-- creates form with a POST method and route /addTodo-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- creates text input with placeholder and name for the user to input a new task -->
        <input type="submit"> <!-- creates submit button for form -->
    </form> <!-- closes the form tag -->
    

    <script src='js/main.js'></script> <!-- links to main.js -->
</body> <!-- closes body -->
</html> <!-- closes HTML -->
